/* Navigation Bar*/

body {
    margin: 0;
    font-family: Jokerman;
}

.topnav{
    overflow: hidden;
    background-color: #333;
    text-align: center;
}

.topnav a{

    float: left;
    color: darkgoldenrod;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    color: khaki;
    background-color: blueviolet;
    padding: 15px 15px;
    font-size: 20px;
    text-decoration: underline;
}
/*Slider*/ 

.carousel-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300;
}

.myslides{
    display: none;
    max-width: 100%;
    max-height: 100%;
}